version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: sunset_postgres
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - sunset_data:/var/lib/postgresql/data

volumes:
  sunset_data:
